body {
  background-repeat: no-repeat;
  background-image: url(../img/2001.png);
  background-size: 100%;
  color: white;

}

#subBtn {
  color: red;
  background-color: white;
  border-color: red;
}
