.jumbotron {
  background-image: url(../img/jumbo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-color: black;
  background-color: #8c0101;
  text-align: center;
}

body {
  background-repeat: no-repeat;
  background-image: url(../img/2001.png);
  background-size: 100%;
  color: white;
  font-family: Orbitron;
}

#subBtn {
  color: red;
  background-color: white;
  border-color: red;
}

#Hal {
  display: none;
  border-color: black;
  border: 10px;
}
#result {
  background: red;
   background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
   background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
   background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
   background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 26px;
   text-align: center;
}
